<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <div class="d-flex align-items-center">
            <p class="navbar-brand mb-0 fw-bold text-white">Express Brain</p>
            <div class="ms-4">
                <a class="nav-link d-inline text-white me-3" href="/">Jouer</a>
                <a class="nav-link d-inline text-white me-3" href="#">Classement</a>
                <a class="nav-link d-inline text-white" href="#">Équipes</a>
                <% if (typeof user !== 'undefined' && user.admin) { %>
                    <a class="nav-link d-inline text-white" href="#">Admin</a></li>
                <% } %>
            </div>
        </div>
        <div class="ms-auto">
            <% if (typeof user !== 'undefined') { %>
                <span class="navbar-text text-white text-center me-3">Bienvenue <%= user.pseudo %></span>
                <a class="nav-link d-inline text-white" href="/logout">
                    Déconnexion <i class="bi bi-box-arrow-right"></i>
                </a>
            <% } else { %>
                <a class="nav-link d-inline text-white" href="/connection">
                    Connexion
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </a>
            <% } %>
        </div>
    </div>
</nav>